@charset "utf-8";
/* CSS Document */

/* @font-face {
  font-family: 'Atletico-RegularDemo';
  src: url('../fonts/Atletico-RegularDemod41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/Atletico-RegularDemo.otf')  format('opentype'),
	     url('../fonts/Atletico-RegularDemo.woff') format('woff'), url('../fonts/Atletico-RegularDemo.ttf')  format('truetype'), url('../fonts/Atletico-RegularDemo.svg#Atletico-RegularDemo') format('svg');
  font-weight: normal;
  font-style: normal;
} */

.about-us-first-banner {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: inline-block;
  padding: 85px 0 80px;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.about-caption {
  padding: 5px 0 0;
  text-align: center;
  position: relative;
}
.about-caption h2::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 47%;
  position: absolute;
  top: -20px;
  width: 50px;
}
.about-caption h2 {
  color: #fff;
  font-family: lato;
  font-size: 42px;
  font-weight: 400;
  position: relative;
}
.first-image {
  padding-top: 50px;
}
.first-image > img {
  width: 100%;
}
.about-description {
  padding: 135px 0 90px;
}
.about-description h4 {
  color: #fff;
  font-family: lato;
  font-size: 30px;
  font-style: oblique;
}
.about-description > p {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}
.about-description span {
  font-weight: 800;
  padding-right: 11px;
}
.about-description strong {
  color: #ff7c00;
  font-weight: 400;
}

.about-us-second-banner {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: inline-block;
  padding: 200px 0 80px;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.about-us-second-banner .about-description {
  padding: 160px 0 90px;
}

.stay-tuned {
  background: #000;
  padding: 95px 0 125px;
}
.stay-tuned-content {
  text-align: center;
}
.stay-tuned-content > h4::before {
  background: #fff;
  content: "";
  height: 2px;
  left: 47%;
  position: absolute;
  top: -20px;
  width: 50px;
}
.stay-tuned-content > h4 {
  color: #fff;
  font-family: lato;
  font-size: 30px;
  margin: 30px 0px 60px 0px !important;
}
.stay-tuned-content > a {
  padding: 30px 0 35px;
}
.stay-tuned-content > a {
  background: #ff7c00 none repeat scroll 0 0;
  border: 2px solid #ff7c00;
  border-radius: 25px;
  font-family: lato;
  font-size: 30px;
  color:#FFF;
  line-height: 1;
  padding: 15px 30px;
}
.stay-tuned-content > a:hover{
  color:#ff7c00;
  background:#edefef;
}
.stay-tuned-content > p {
  margin: 60px 0px 20px 0px !important;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}
.find-us-section {
  margin: 0 auto;
  max-width: 1000px;
  padding: 85px 0 0;
  width: 100%;
}

.find-us-caption {
  text-align: center;
}
.find-us-caption > h4::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 47%;
  position: absolute;
  top: -20px;
  width: 50px;
}
.find-us-caption > h4 {
  color: #fff;
  padding-bottom:15px;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}
.find-us-main-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.building-pic {
  float: left;
  max-width: 630px;
  width: 100%;
}
.building-pic img{
  width:100%;
}
.building-location {
  float: left;
  padding-left: 70px;
  width: calc(100% - 630px);
}
.building-address {
  max-width: 275px;
  width: 100%;
}
.building-address-details {
  padding: 25px 0;
}
.building-address-details > p {
  color: #fff;
  font-size: 30px;
}
.building-phone-num-content {
  padding-top: 35px;
}


@media(max-width: 992px){
  .about-us-first-banner {
    padding: 85px 0 30px;
  }
  .about-caption {
    padding: 10px 0 0;
  }
  .about-caption h2::before {
    top: -5px;
  }
  .about-caption h2 {
    font-size: 30px;
  }
  .first-image {
    padding-top: 0;
  }
  .about-description {
    padding: 0;
  }
  .about-description h4 {
    font-size: 24px;
  }
  .about-description > p {
    font-size: 20px;
  }
  .about-us-second-banner {
    padding: 100px 0 50px;
  }
  .about-us-second-banner .about-description {
    padding: 50px 0  0;
  }
  .stay-tuned {
    background: #edefef none repeat scroll 0 0;
    padding: 10px;
  }
  .stay-tuned-title > h4::before {
    top: -5px;
  }
  .stay-tuned-title > h4 {
    font-size: 24px;
  }
  .stay-tuned-btn {
    padding: 10px;
  }
  .stay-tuned-btn {
    padding: 10px;
  }
  .find-us-section {
    padding: 20px 0 0;
  }
  .find-us-caption > h4::before {
    top: -5px;
  }
  .find-us-caption > h4 {
    font-size: 24px;
  }
  .building-pic {
    max-width: 360px;
  }
  .building-location {
    padding-left: 30px;
    width: calc(100% - 360px);
  }
  .building-address-details {
    padding: 5px;
  }
  .building-address {
    max-width: 100%;
  }
  .building-phone-num-content {
    padding-top: 5px;
  }
  .building-address-details > p {
    color: #2e4dae;
    font-size: 22px;
  }
  .stay-tuned {
    padding: 10px 0 40px;
  }

}


@media (max-width: 767px){
  .about-us-second-banner .about-description {
    padding: 0;
  }
  .about-us-first-banner {
    padding: 85px 0 10px;
  }
  .about-us-second-banner {
    padding: 30px 0 50px;
  }
  .about-description > p {
    font-size: 18px;
  }
  .about-caption h2 {
    font-size: 24px;
  }
  .about-description h4 {
    font-size: 20px;
  }
  .stay-tuned-title > h4 {
    font-size: 18px;
  }
  .stay-tuned-btn a.btn {
    font-size: 18px;
    padding: 7px 15px;
  }
  .stay-tuned-note > p {
    font-size: 20px;
  }
  .find-us-caption > h4 {
    font-size: 20px;
  }
  .building-pic {
    max-width: 100%;
  }
  .building-location {
    width: 100%;
    padding-top: 20px;
  }
  .building-address-details > p {
    font-size: 20px;
  }
}

@media (max-width: 480px){
  .about-description > p {
    font-size: 16px;
  }
  .stay-tuned-note > p {
    font-size: 16px;
  }
  .find-us-caption > h4 {
    font-size: 18px;
  }
  .building-address-details > p {
    color: #2e4dae;
    font-size: 16px;
  }
}
#content > div:nth-of-type(1) { /* css */ }