@media (min-width: 1200px){
    .__content{
        .__container{
            width: 100%;
        }
    }
}


.__home-page{
    .__content{
        .__container{
            position: relative;
            z-index: 1;
        }
        .__subtitle{
            font-size: 1.625em;
            font-weight: 500;
        }
        .__title{
            font-weight: bolder;
            text-transform: uppercase;
            font-size: 2.58em;
            text-align: center;
            margin-bottom: 1.8em;
        }
        .__main{
            width: 40%;
            >div{
                margin: 2em 0;
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .__homepage-btn{
            margin: auto;
        }
        &:nth-child(even){
            .__main{
                margin: auto auto 7.5em 10%;
            }
            .__background{
                right: 0;
            }
        }
    }
}
// background: linear-gradient(to left, #111111, #fb6e00);

.__home-page{
    .__content{
        overflow: hidden;
        // transform: skewY(-2deg);
        max-height: 100%;
        border: 2px solid;
        &::after{
            content: '';
            height: 5px;
            background: linear-gradient(to left, #111111, #fb6e00);
            display: none;
        }
        .__container{
            border: 2px solid purple;
        }
        .__background{
            position: absolute;
            max-height: 100%;;
            top: 0;
        }        
    }
}