.content-home {
}
button {
  cursor: pointer;
}
.content-wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #202124;
  padding-bottom: 80px;
  overflow: hidden;
}

.home-header {
  background-image: url(../../assets/images/home/group-23.png);
  height: 100%;
  object-fit: contain;
  text-align: center;
}
.head-nav {
  height: 102px;
  background-color: #1e1e1e;
}
.header-heading {
  display: inline-block;
  padding-top: 338px;
  font-family: Poppins;
  font-size: 52px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}
.heading-subtext {
  display: inline-block;
  width: 36px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.23px;
  text-align: center;
  color: #fb6e00;
  vertical-align: top;
  padding-left: 5px;
}
.header-heading1 {
  display: inline-block;
  max-width: 100%;
  width: 823px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.38px;
  text-align: center;
  color: #ffffff;
  padding-top: 36px;
}
.header-text-wrapper {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.header-text-solo-wrapper {
  display: inline-block;
  text-align: left;
  padding-right: 36px;
  padding-left: 36px;
}
.header-text-solo-wrapper-image {
  display: inline-block;
  width: 36px;
  height: 36px;
}
.header-text-solo-wrapper-text {
  display: inline-block;
  max-width: 100%;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.23px;
  color: #ffffff;
  padding-left: 10px;
}
.header-button {
  border: none;
  display: inline-block;
  width: 345px;
  height: 65px;
  border-radius: 40.5px;
  box-shadow: 0 3px 27px 0 rgba(251, 110, 0, 0.48);
  background-color: #fb6e00;
  cursor: pointer;
}
.header-button-text {
  display: inline-block;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.header-text {
  max-width: 100%;
  text-align: right;
  display: inline-block;
  width: 100%;
}
.header-subtext {
  padding-right: 22px;
  display: inline-block;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 55px;
  font-family: Poppins;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.real-excitement-wrapper {
  text-align: center;
  background-image: url("../../assets/images/home/group-19.png");
  height: 100%;
  object-fit: contain;
  max-width: 100%;
}
.real-excitement-text1 {
  display: inline-block;
  width: 372px;
  max-width: 100%;
  font-family: Poppins;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 259px;
}
.real-excitement-text2 {
  display: inline-block;
  max-width: 100%;
  width: 868px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 33px;
}
.brr {
  display: none;
}
.orange-text {
  color: #fb6e00;
}
.real-span {
  font-weight: bold;
  font-style: italic;
}
.real-excitement-text-spanned {
  font-weight: bold;
  font-style: italic;
}
#real-btn {
  margin-bottom: 75px;
}
.powerplay-wrapper {
  text-align: center;
  max-width: 100%;
}
.powerplay-wrapper-left {
  text-align: center;
  display: inline-block;
  background-image: url("../../assets/images/home/live-sports-back-image.png");
  width: 800px;
  height: 573px;
  max-width: 100%;
  background-color: #17181a;
}
.powerplay-wrapper-left-heading {
  display: inline-block;
  width: 581px;
  max-width: 100%;
  font-family: Poppins;
  font-size: 33.6px;
  font-weight: bold;
  line-height: 1.19;
  text-align: center;
  color: #ffffff;
}
.powerplay-wrapper-left-text {
  padding-top: 17px;
  max-width: 100%;
  display: inline-block;
  width: 322px;
  font-family: Poppins;
  font-size: 19.2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.powerplay-wrapper-left-btns {
  display: inline-block;
  text-align: center;
  width: 470px;
  padding-top: 10px;
  padding-bottom: 52px;
}
.powerplay-solo-btn-1 {
  border: none;
  width: 177px;
  height: 33px;
  border-radius: 12px;
  border: solid 1.6px #ffffff;
  background-color: rgba(255, 255, 255, 0.23);
  display: inline-block;
  margin: 4px;
}
.powerplay-solo-btn-2 {
  margin: 4px;
  border: none;
  display: inline-block;
  width: 145px;
  height: 33px;
  border-radius: 12px;
  border: solid 1.6px #ffffff;
  background-color: rgba(255, 255, 255, 0.23);
}
.powerplay-solo-btn-3 {
  margin: 4px;
  border: none;
  display: inline-block;
  width: 223px;
  height: 33px;
  border-radius: 12px;
  border: solid 1.6px #ffffff;
  background-color: rgba(255, 255, 255, 0.23);
}
.powerplay-solo-btn-4 {
  margin: 4px;
  border: none;
  display: inline-block;
  width: 198px;
  height: 33px;
  border-radius: 12px;
  border: solid 1.6px #ffffff;
  background-color: rgba(255, 255, 255, 0.23);
}
.powerplay-solo-btn-5 {
  margin: 4px;
  border: none;
  display: inline-block;
  width: 366px;
  height: 33px;
  border-radius: 12px;
  border: solid 1.6px #ffffff;
  background-color: rgba(255, 255, 255, 0.23);
}
.powerplay-solo-btn-text {
  padding-top: 6px;
  width: 119px;
  font-family: Poppins;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.slick-list {
  padding: 45px 60px !important;
  margin-left: 30px !important;
  margin-bottom: 30px;
}
.corousal-img {
  width: 596px;
  height: 524px;
  margin-bottom: -20px;
  margin: 30px 48px;
  margin-bottom: -28px;
  background-position: center;
  background-repeat: no-repeat;
}
.corousal-content-wrapper {
  text-align: left;
  padding: 17px 24px;
  font-family: Poppins;
}
.corousal-content-img-wrapper {
  text-align: right;
}
.corousal-content-img {
  background-image: url(../../assets/images/home/tdn-logo.png);
  width: 221px;
  height: 27px;
  display: inline-block;
}
.corousal-content-text1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  color: #fbbc15;
  margin-top: 124px;
}
.corousal-content-text1a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;

  color: #ffffff;
}
.corousal-content-text2 {
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
}
.corousal-arrows {
  text-align: center;
}
.corousal-arrow-left {
  background-image: url(../../assets/images/home/arrow-left.svg);
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0px 10px;
  cursor: pointer;
}
.corousal-arrow-right {
  background-image: url(../../assets/images/home/arrow-right.svg);
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0px 10px;
  cursor: pointer;
}
.corousal-button-active {
  width: 269px;
  height: 55px;
  border-radius: 27.6px;
  background-color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  border: none;
  margin-bottom: 20px;
}
.corousal-button-incative {
  width: 269px;
  height: 55px;
  border-radius: 27.6px;
  background-color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #535456;
  font-family: Poppins;
  margin-bottom: 20px;
  opacity: 0.4;
}
.img-1 {
  background-image: url(../../assets/images/home/group-17.jpg);
}
.img-2 {
  background-image: url(../../assets/images/home/slick2.png);
}
.img-3 {
  background-image: url(../../assets/images/home/slick3.png);
}
.slider-dots {
}
.slider-dots li {
  display: inline-block;
}
.slider-dots li button {
  margin: 0px 2.5px;
  width: 11px;
  height: 12px;
  background-color: #794415;
  color: transparent;
  border: none;
  border-radius: 6px;
}
.slider-dots .slick-active button {
  background-color: #ff7b00;
}
.powerplay-wrapper-left-img {
  padding-top: 64px;
  display: inline-block;
  width: 121px;
  object-fit: contain;
}
.powerplay-wrapper-left-orange-btn {
  width: 269px;
  height: 55px;
  border-radius: 27.6px;
  box-shadow: 0 3px 27px -2px rgba(255, 255, 255, 0.34);
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  border: none;
  margin-top: -60px;
}
.powerplay-btn-text {
  max-width: 100%;
  width: 226px;
  height: 23px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  display: inline-block;
}
.powerplay-wrapper-right {
  display: inline-block;
  text-align: center;
  background-image: url("../../assets/images/home/lotto-bk-image(1).png");
  object-fit: contain;
  width: 544px;
  height: 573px;
  vertical-align: top;
  max-width: 100%;
  background-color: #17181a;
}
.powerplay-wrapper-right-heading {
  display: inline-block;
  width: 436px;
  max-width: 100%;
  font-family: Poppins;
  font-size: 33.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #fb6e00;
  padding-top: 24px;
  vertical-align: top;
}
.powerplay-wrapper-right-text {
  width: 341px;
  display: inline-block;
  width: 422px;
  max-width: 100%;
  font-family: Poppins;
  font-size: 19.2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fb6e00;
  padding-top: 14px;
}
.powerplay-wrapper-right-btns {
  text-align: center;
  display: inline-block;
  width: 400px;
  padding-top: 13px;
  padding-bottom: 75px;
}
.powerplay-solo-btn-right-1 {
  display: inline-block;
  width: 158px;
  height: 33px;
  max-width: 100%;
  border-radius: 12px;
  border: solid 1.6px #fb6e00;
  background-color: rgba(251, 110, 0, 0.23);
  margin: 0 4px 7px 4px;
}
.powerplay-solo-btn-right-2 {
  display: inline-block;
  width: 188px;
  height: 33px;
  max-width: 100%;
  border-radius: 12px;
  border: solid 1.6px #fb6e00;
  background-color: rgba(251, 110, 0, 0.23);
  margin: 0 0 7px 4px;
}
.powerplay-solo-btn-right-3 {
  margin: 7px 3px 0 0;
  display: inline-block;
  width: 177px;
  height: 33px;
  max-width: 100%;
  border-radius: 12px;
  border: solid 1.6px #fb6e00;
  background-color: rgba(251, 110, 0, 0.23);
}
.powerplay-solo-btn-right-4 {
  margin: 7px 0 0 4px;
  display: inline-block;
  width: 145px;
  height: 33px;
  max-width: 100%;
  border-radius: 12px;
  border: solid 1.6px #fb6e00;
  background-color: rgba(251, 110, 0, 0.23);
}
.powerplay-solo-btn-right-text {
  display: inline-block;
  max-width: 100%;
  font-family: Poppins;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fb6e00;
}
.powerplay-wrapper-right-img {
  display: inline-block;
  width: 217px;
  object-fit: contain;
  padding-top: 99px;
}
.tryone-wrapper {
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.tryone-heading {
  display: inline-block;
  width: 1120px;
  max-width: 100%;
  font-family: Poppins;
  font-size: 62px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 159px;
}
.tryone-tabs-wrapper {
  text-align: center;
  display: inline-block;
  padding-top: 72px;
  max-width: 100%;
}
.slider-wrapper {
  margin: 50px 0px;
}
.slick-center {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}
.tryone-tab-left {
  display: inline-block;
  width: 261px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;

  text-align: center;
  color: #fb6e00;
  vertical-align: top;
  cursor: pointer;
  margin-right: 70px;
}
.tryone-tab-right {
  cursor: pointer;
  display: inline-block;
  width: 191px;
  font-family: Poppins;
  font-size: 24px;
  text-align: left;
  color: #ffffff;
  vertical-align: top;
}
.tryone-buttons-wrapper {
  text-align: center;
  display: inline-block;
  padding-top: 40px;
}
.tryone-button-1 {
  display: inline-block;
  width: 139px;
  height: 41px;
  border-radius: 15px;
  border: solid 2px #fb6e00;
  background-color: rgba(255, 123, 0, 0.2);
  margin-right: 20px;
}
.tryone-button-2 {
  display: inline-block;
  width: 73px;
  height: 41px;
  border-radius: 15px;
  border: solid 2px #ffffff;
  background-color: rgba(255, 255, 255, 0.23);
  margin-right: 20px;
}
.tryone-button-3 {
  display: inline-block;
  width: 73px;
  height: 41px;
  border-radius: 15px;
  border: solid 2px #ffffff;
  background-color: rgba(255, 255, 255, 0.23);
  margin-right: 20px;
}
.tryone-button-4 {
  display: inline-block;
  width: 73px;
  height: 41px;
  border-radius: 15px;
  border: solid 2px #ffffff;
  background-color: rgba(255, 255, 255, 0.23);
  margin-right: 20px;
}
.tryone-button-text {
  display: inline-block;

  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
#tryone-selected {
  color: #fb6e00;
}
.tryone-selected-line-2 {
  display: none;
  width: 210px;
  border: solid 3px #fb6e00;
}
.tryone-selected-line {
  display: inline-block;
  width: 81px;
  height: 1px;
  border: solid 1px #fb6e00;
}
.whatweoffer-wrapper {
  text-align: center;
  display: inline-block;
  padding-top: 169px;
  vertical-align: top;
  max-width: 100%;
}
.customized-wrapper {
  display: inline-block;
  text-align: center;
  padding-top: 112px;
}
.whatweoffer-heading {
  display: inline-block;
  max-width: 100%;
  font-family: Poppins;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-bottom: 40px;
}
.whatweoffer-solo-wrapper {
  margin-top: 38px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
  width: 424px;
  height: 266px;
  border-radius: 16px;
  background-color: #17181a;
  padding-bottom: 20px;
  padding-right: 20px;
}
.customized-solo-wrapper {
  margin-top: 38px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
  width: 410px;
  height: 216px;
  border-radius: 16px;
  background-color: #17181a;
}
#whatweoffer-heading-2 {
  padding-top: 112px;
}
.whatweoffer-solo-wrapper-img {
  vertical-align: top;
  display: inline-block;
  width: 114px;
  height: 114px;
  object-fit: contain;
  max-width: 100%;
}
.whatweoffer-solo-right {
  display: inline-block;
  text-align: left;
  padding-left: 13px;
}
.whatweoffer-solo-wrapper-heading {
  display: inline-block;
  width: 277px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 10px;
}
.whatweoffer-solo-wrapper-text {
  display: inline-block;
  padding-top: 8px;
  width: 267px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.whatweoffer-button {
  display: inline-block;
  width: 345px;
  height: 65px;
  border-radius: 40.5px;
  box-shadow: 0 3px 27px -2px #fb6e00;
  background-color: #fb6e00;
  border: none;
  margin-top: 40px;
}
.whatweoffer-button-text {
  display: inline-block;
  width: 338px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.significant-wrapper {
  display: inline-block;
  text-align: center;
  margin-top: 184px;
  background-image: url("../../assets/images/home/growth.png");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  max-width: 100%;
}
.significant-wrapper-heading {
  display: inline-block;
  width: 979px;
  max-width: 100%;
  font-family: Poppins;
  font-size: 42px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.significant-wrapper-text {
  width: 800px;
  max-width: 100%;
  display: inline-block;
  padding-top: 40px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 380px) {
  .home-header {
    background-image: url("../../assets/images/home/hero-image(1).png");
    background-repeat: no-repeat;
    height: 100%;
  }
  .header-heading {
    display: none;
  }
  .header-img {
    height: 20px;
    width: 20px;
  }
  .header-heading1 {
    width: 338px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding-top: 45px;
  }
  .header-text-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .header-text-solo-wrapper {
    display: inline-block;
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
  }
  .header-text-solo-wrapper-image {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .header-text-solo-wrapper-text {
    display: inline-block;
    max-width: 100%;
    width: 237px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.15px;
    padding-left: 6px;
  }
  .header-button {
    border: none;
    display: inline-block;
    width: 247px;
    height: 43px;
    border-radius: 21.7px;
    box-shadow: 0 2px 14px -1px #fb6e00;
    background-color: #fb6e00;
    cursor: pointer;
  }
  .header-button-text {
    display: inline-block;
    width: 220px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 12px;
  }
  .header-text {
    text-align: center;
  }
  .header-subtext {
    padding-bottom: 8px;
    display: inline-block;
    padding-top: 18px;
    max-width: 100%;
    float: none;
    padding-right: 0px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
  }
  br {
    display: none;
  }
  .real-excitement-wrapper {
    text-align: center;
    background-image: url("../../assets/images/home/real-excitement-image(1).png");
    object-fit: contain;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 365px;
  }
  .real-excitement-text1 {
    display: inline-block;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 75px;
  }
  .brr {
    display: block;
  }
  .real-excitement-text2 {
    display: inline-block;
    width: 280px;
    max-width: 100%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 27px;
  }

  .powerplay-wrapper {
    text-align: center;
    max-width: 100%;
  }
  .powerplay-wrapper-left {
    text-align: center;
    display: inline-block;
    background-image: url("../../assets/images/home/live-sports-back-image.png");
    height: 641px;
    background-color: #000000;
    max-width: 100%;
  }
  .powerplay-wrapper-left-heading {
    width: 319px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #ffffff;
  }
  .powerplay-wrapper-left-text {
    padding-top: 7px;
    width: 236px;
    height: 75px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .powerplay-wrapper-left-btns {
    display: inline-block;
    text-align: center;
    width: 365px;
    padding-top: 10px;
  }
  .corousal-img {
    width: 293px;
    height: 265px;
    background-position: center;
    background-size: cover;
    margin-bottom: -20px;
  }
  .corousal-button-active {
    width: 239px;
    height: 35px;
    border-radius: 17.5px;
    box-shadow: 0 2px 19px -1px rgba(22, 107, 172, 0.5);
    background-color: #ff7b00;
    font-size: 14px;
    font-weight: 500;
  }
  .corousal-button-incative {
    width: 239px;
    height: 35px;
    border-radius: 17.5px;
    font-size: 14px;
    font-weight: 500;
  }
  .corousal-content-img {
    width: 100px;
    height: 12px;
    background-size: cover;
  }
  .corousal-content-text1 {
    font-size: 20px;
    margin-top: 50px;
  }
  .corousal-content-text1a {
    font-size: 14px;
    margin-left: 4px;
  }
  .corousal-content-text2 {
    font-size: 20px;
  }
  .powerplay-solo-btn-1 {
    border: none;
    width: 177px;
    height: 33px;
    border-radius: 12px;
    border: solid 1.6px #ffffff;
    background-color: rgba(255, 255, 255, 0.23);
    margin: 4px;
  }
  .powerplay-solo-btn-2 {
    margin: 4px;
    border: none;
    display: inline-block;
    width: 145px;
    height: 33px;
    border-radius: 12px;
    border: solid 1.6px #ffffff;
    background-color: rgba(255, 255, 255, 0.23);
  }
  .powerplay-solo-btn-3 {
    margin: 4px;
    border: none;
    display: inline-block;
    width: 234px;
    height: 33px;
    border-radius: 12px;
    border: solid 1.6px #ffffff;
    background-color: rgba(255, 255, 255, 0.23);
  }
  .powerplay-solo-btn-4 {
    margin: 4px;
    border: none;
    display: inline-block;
    width: 223px;
    height: 33px;
    border-radius: 12px;
    border: solid 1.6px #ffffff;
    background-color: rgba(255, 255, 255, 0.23);
  }
  .powerplay-solo-btn-5 {
    margin: 4px;
    border: none;
    display: inline-block;
    width: 366px;
    height: 33px;
    border-radius: 12px;
    border: solid 1.6px #ffffff;
    background-color: rgba(255, 255, 255, 0.23);
  }
  .powerplay-solo-btn-text {
    padding-top: 6px;
   
    font-family: Poppins;
    font-size: 14.4px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .powerplay-wrapper-left-img {
    padding-top: 6px;
    display: inline-block;
    width: 121px;
    height: 178px;
    object-fit: contain;
  }
  .powerplay-wrapper-left-orange-btn {
    width: 344px;
    height: 55px;
    border-radius: 27.6px;
    box-shadow: 0 10px 21px 0 rgba(251, 110, 0, 0.24);
    background-color: #fb6e00;
    display: inline-block;
    text-align: center;
    border: none;
    margin-top: -60px;
  }
  .powerplay-wrapper-right {
    display: inline-block;
    text-align: center;
    background-image: url("../../assets/images/home/lotto-bk-image.png");
    object-fit: contain;
    width: 544px;
    height: 573px;
    vertical-align: top;
    max-width: 100%;
    background-color: white;
  }
  .powerplay-wrapper-right-heading {
    display: inline-block;
    width: 259px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    padding-top: 35px;
  }
  .powerplay-wrapper-right-text {
    display: inline-block;
    width: 248px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding-top: 4px;
  }
  .powerplay-wrapper-right-btns {
    text-align: center;
    display: inline-block;
    width: 365px;
    padding-top: 19px;
  }

  .powerplay-wrapper-right-img {
    display: inline-block;
    width: 195px;
    height: 146px;
    object-fit: contain;
    padding-top: 31px;
    padding-bottom: 9px;
  }
  .tryone-wrapper {
    text-align: center;
    display: inline-block;
    max-width: 100%;
  }
  .tryone-heading {
    display: inline-block;
    width: 318px;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 150px;
  }
  .tryone-tabs-wrapper {
    text-align: center;
    display: inline-block;
    padding-top: 40px;
  }
  .tryone-tab-left {
    display: inline-block;
    width: 129px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    color: #fb6e00;
    vertical-align: top;
    cursor: pointer;
  }
  .tryone-tab-right {
    cursor: pointer;
    display: inline-block;
    width: 126px;
    font-family: Poppins;
    font-size: 24px;
    color: #ffffff;
    vertical-align: top;
  }
  .tryone-buttons-wrapper {
    text-align: center;
    display: inline-block;
    padding-top: 40px;
  }
  .tryone-button-1 {
    display: inline-block;
    width: 99px;
    height: 41px;
    border-radius: 15px;
    border: solid 2px #fb6e00;
    background-color: rgba(255, 123, 0, 0.2);
    margin-right: 10px;
  }
  .tryone-button-2 {
    margin-right: 10px;
    width: 73px;
    height: 41px;
    border-radius: 15px;
    border: solid 2px #ffffff;
  }
  .tryone-button-3 {
    margin-right: 10px;
  }
  .tryone-button-4 {
    display: inline-block;
    width: 51px;
    height: 41px;
    margin-right: 0px;
  }
  #tryone-selected {
    color: #fb6e00;
  }
  .tryone-selected-line-2 {
    display: none;
    width: 125px;
    border: solid 3px #fb6e00;
  }
  .tryone-selected-line {
    display: inline-block;
    width: 110px;
    border: solid 3px #fb6e00;
  }
  .whatweoffer-wrapper {
    text-align: center;
    display: inline-block;
    padding-top: 150px;
    vertical-align: top;
    max-width: 100%;
  }
  .customized-wrapper {
    text-align: center;
    display: inline-block;
    max-width: 100%;
    padding-top: 112px;
  }
  .whatweoffer-heading {
    display: inline-block;
    max-width: 100%;
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .whatweoffer-solo-wrapper {
    background-color: transparent;
    width: unset;
    height: unset;
    padding-top: 38px;
    display: inline-block;
    text-align: center;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .customized-solo-wrapper {
    background-color: transparent;
    width: unset;
    height: unset;
    padding-top: 38px;
    display: inline-block;
    text-align: center;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .whatweoffer-solo-right {
    display: inline-block;
    text-align: center;
    padding-left: 0px;
  }
  .whatweoffer-solo-wrapper-img {
    display: inline-block;
    width: 114px;
    height: 114px;
    object-fit: contain;
    max-width: 100%;
  }
  .whatweoffer-solo-wrapper-heading {
    display: inline-block;
    width: 277px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 0spx;
  }
  .whatweoffer-solo-wrapper-text {
    display: inline-block;
    width: 278px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .whatweoffer-button {
    display: inline-block;
    width: 328px;
    height: 44px;
    border-radius: 34.5px;
    box-shadow: 0 3px 27px -2px #fb6e00;
    background-color: #fb6e00;
    border: none;
    margin-top: 10px;
  }
  .whatweoffer-button-text {
    display: inline-block;
    width: 338px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  #whatweoffer-second-btn {
    margin-top: 40px;
  }
  .significant-wrapper {
    display: none;
  }
}
