.home_first_row {
  height: unset !important;
  padding: 10px 0px;
}
.home_first_row .header-main {
  width: 81%;
  font-family: Poppins;
  font-size: 52px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
  margin-top: 260px;
}
.home_first_row .main_img_icon {
  float: left;
  width: 35.6px;
  height: 35.6px;
  margin-top: 15px;
}
.home_first_row .main_icon_text {
  text-align: left;
  float: left;
  width: 260px;
  height: 66px;
  font-family: Poppins;
  font-size: 24px;
  letter-spacing: -0.2px;
  color: #ffffff;
  margin-left: 20px;
}
.home_first_row_details {
  float: none;
  display: inline-block;
  margin: 30px 0px 0px 30px;
}
.first_row_details_container {
  width: 77%;
  margin: 0 auto;
  text-align: center;
}
.first_row_button {
  width: 578px;
  height: 69px;
  border-radius: 34.5px;
  box-shadow: 0 3px 27px -2px #fb6e00;
  background-color: #fb6e00;
  font-family: Poppins;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: 48px;
}
.first_row_extra_info {
  width: 312px;
  height: 27px;
  font-family: Poppins;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  float: right;
  margin: 156px 10px 30px 0px;
}
.header_row_2 {
  margin: 160px 0px 20px 0px;

  font-family: Poppins;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.detail_row_2 {
  width: 868px;
  max-width: 100%;
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 100px;
}
.home_row_3_content {
  margin-left: 80px;
}
.header_row_3 {
  margin-top: 134px;
  width: 726px;
  max-width: 100%;
  font-family: Poppins;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 20px;
}
.detail_row_3 {
  width: 978px;
  max-width: 100%;
  font-family: Poppins;
  font-size: 24px;
  color: #ffffff;
}
.row_3_items_container {
  margin: 20px 0px 0px;
  width: 1000px;
  max-width: 100%;
}
.row_3_item {
  float: none;
  display: inline-block;
  width: fit-content;
  line-height: 35px;
  padding: 0px 20px 0px 20px;
  height: 41px;
  border-radius: 15px;
  border: solid 2px #ffffff;
  background-color: rgba(255, 255, 255, 0.23);
  font-family: Poppins;
  font-size: 18px;
  color: #ffffff;
  margin: 5px;
}
.row_3_button {
  width: 467px;
  height: 69px;
  border-radius: 34.5px;
  box-shadow: 0 3px 27px -2px #fb6e00;
  background-color: #fb6e00;
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}
.home_sub_heading {
  margin: 145px 0px 48px 0px;
  font-family: Poppins;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.home_offers {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.home_offers_item {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
}
.home_offer_icon {
  width: 114px;
  height: 114px;
  object-fit: contain;
}
.home_offer_heading {
  width: 378px;

  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin: 10px;
}
.home_offer_heading_small {
  width: 187px;

  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin: 10px;
}
.home_offer_details {
  width: 402px;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.home_offer_button {
  margin: 55px;
  width: 578px;
  height: 69px;
  border-radius: 34.5px;
  box-shadow: 0 3px 27px -2px #fb6e00;
  background-color: #fb6e00;
  font-family: Poppins;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  border: none;
}
@media screen and (max-width: 700px) {
  .home_first_row {
    height: unset !important;
    background-position: top;
  }
  .home_first_row .header-main {
    font-size: 20px !important;
    font-weight: bold;
    margin-top: 45px;
    height: unset;
    margin-bottom: 40px;
  }
  .first_row_details_container {
    width: 100%;
  }
  .home_first_row .main_icon_text {
    font-size: 16px;
    font-weight: 500;
    height: unset;
    margin-left: 10px;
  }
  .home_first_row_details {
    margin-top: 10px;
  }
  .home_first_row .main_img_icon {
    width: 19.9px;
    height: 19.9px;
    margin-top: 0px;
  }
  .first_row_button {
    width: 65%;
    height: 43.4px;
    font-size: 15px;
    font-weight: 400px;
  }
  .first_row_extra_info {
    font-size: 12px;
    margin: 20px auto;
    width: unset;
    float: none;

    text-align: center;
  }
  .header_row_2 {
    font-size: 18px;
    width: 160px;
    margin-top: 74px;
    margin-bottom: 24px;
  }
  .detail_row_2 {
    width: 95%;
    font-size: 16px;
    text-align: center;
  }
  .header_row_3 {
    font-size: 20px;
  }
  .home_row_3_content {
    margin: 0px;
    width: 100%;
    padding-bottom: 60px;
    text-align: center;
  }
  .header_row_3 {
    font-size: 20px;
    max-width: 100%;
    width: 319px;
    text-align: center;
    margin: 50px auto 10px;
  }
  .detail_row_3 {
    font-size: 18px;
    text-align: center;
    width: 236px;
    max-width: 80%;
    margin: 0px auto;
    height: unset;
  }
  .row_3_items_container {
    text-align: center;
    width: 100%;
    height: unset;
  }
  .row_3_item {
    float: none;
    display: inline-block;
    font-size: 14.4px;
    height: 32.8px;
    line-height: 30.8px;
    padding: 0px 5px;
  }
  .row_3_button {
    width: 75% !important;
    height: 43.4px;
    font-size: 14px;
    font-weight: 400;
    min-width: 200px;
  }
  .home_sub_heading {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 50px auto 20px;
  }
  .home_offers {
    width: 100%;
    padding: 40px 0px;
  }
  .home_offers_item {
    width: 278px;
    max-width: 100%;
  }
  .home_offer_icon {
    width: 91.2px;
    height: 91.2px;
  }
  .home_offer_heading {
    font-size: 18px;
    font-weight: 600;
    width: 277px;
    max-width: 100%;
  }
  .home_offer_details {
    width: 278px;
    font-size: 16px;
    max-width: 100%;
  }
  .home_offer_button {
    width: 328px;
    height: 44px;
    font-size: 15px;
    font-weight: 400;
    margin: unset;
    margin-top: 30px;
    max-width: 100%;
  }
}
