
.bb{
  background-color: #0F0F0F; 
  border: 20px;
}

.gameButton{
  max-width: none !important;
  width: auto !important;
  padding: 0px 12px;
  font-weight: normal !important;
  font-size: 20px !important;
  margin-top: 18px;
  background-color: transparent !important;
  border: 2px solid #0c9dc1 !important;

}
.d-scroll{
  overflow: auto;
  height: 390px;      
  overflow-y: scroll;
  margin-top:50px;
  padding-top: 0px !important;
}
.tab-nav{
  background: #2B48A2;
  width: 100%;
  min-height: 60px;
}
.sport-tab {
  color: white;
  font-size: 22px;
  vertical-align: center;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  border-right:2px solid #fff;
}
.tab-nav div:first-child {
  border-right: 2px solid #fff;
  }
.tab-nav div:last-child {
    border-right: none !important;
}
.tab-active{
  background: #ff7b00;
  cursor: auto
}
.rules_tab_active{
  background: #fafafa !important;
  color: #ff7b00 !important;
}
.rules_tab_active a{
  color: #ff7b00 !important;
}
