.select_sport_heading_sub {
  width: 1092px;
  height: 45px;
  font-family: Poppins;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
.live_sport_heading {
  width: 892px;
  height: 76px;
  font-family: jibril;
  font-size: 62px;
  line-height: 1.23;
  text-align: center;
  color: #ffffff;
  margin-top: 156px;
  
}
.live_sports_heading {
  height: 73px;
  font-family: Poppins;
  font-size: 52px;
  text-align: center;
  color: #fb6e00;
  margin: 60px 0px 8px 0px;
}
.live_sports_sub_heading {
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.live_sports_powerplays {
  width: 1250px;
  margin: 30px auto;
  height: 600px;
}
.live_sports_powerplay_item {
  float: left;
  width: 350px;
  margin: 30px;
}
.live_sports_powerplay_item_img {
  width: 122px;
  height: 129px;
  object-fit: contain;
  margin: 0 auto;
}
.live_sports_powerplay_item_name {
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 10px;
}
.live_sports_powerplay_item_details {
  height: 46px;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.live_sports_game_light_bg {
  height: 466px;
  background-color: #080808;
  padding: 70px;
  text-align: center;
}
.live_sports_game_dark_bg {
  height: 466px;
  padding: 70px;
  text-align: center;
}
.live_sports_game_name {
  height: 59px;
  font-family: Poppins;
  font-size: 42px;
  text-align: center;
  color: #ffffff;
}
.live_sports_game_desc {
  font-family: Poppins;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  margin: 10px;
}
.live_sports_game_desc > span {
  font-weight: bold;
  font-style: italic;
  color: #fb6e00;
}
.live_sports_game_desc > s {
  font-size: 16px;
  font-style: italic;
}
.live_sports_game_try {
  width: 308px;
  height: 31px;
  font-family: Poppins;
  font-size: 22px;
  color: #ffffff;
  margin: 20px;
}
.live_sports_game_tabs {
  width: 972px;
  height: 115px;
}
.live_sports_game_tabs > img {
  width: 227px;
  height: 114px;
  object-fit: contain;
  box-shadow: 0 5px 24px 0 rgba(255, 255, 255, 0.18);
  float: left;
  margin: 8px;
  cursor: pointer;
}
