.sub-spans {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.logo_img {
  margin: 0px 50px;
  width: 140.7px;
}
header > div {
  line-height: 85px;
}
.header_li_button {
  width: 193px;
  height: 52px;
  border-radius: 34.5px;
  box-shadow: 0 3px 27px -2px #fb6e00;
  background-color: #fb6e00;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin-left: 60px !important;

  line-height: 54px !important;
}
.header_user_img {
  width: 41px;
  height: 41px;
  object-fit: contain;
}
.header_dropdown:hover{ 
  background-color: #fb6e00;
  color: #ffffff !important;
}
.header_dropdown_list{
  line-height: 50px;

  padding: 0px !important;
  width:171.5px !important; 
}
.header_dropdown_menu_item {
  background-color: #fb6e00;
  color: #ffffff;
  text-align: center;
}
.header_dropdown_menu_item :hover{
  background-color: #c05400;
  color: #ffffff !important;
}
.header_li_button_start{
  width: 170px;
  height: 52px;
  border-radius: 34.5px;
  box-shadow: 0 3px 27px -2px #fb6e00;
  background-color: #fb6e00;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin-left: -20px !important;
  line-height: 54px !important;
}
.header_li_signin{
  width: 67px;
  height: 28px;
  font-family: Poppins;
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #fb6e00 !important;
}
.inventory-li {
  text-align: left;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 12px 0px 12px 20px !important;
  color: #fefefe;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  background-size: 35px !important;
}
.m-subs {
  width: 80%;
  padding: 12px 0px 12px 20px !important;
}
.m-subs button {
  background: #ff7b00;
  padding: 0px 20px;
  border: none;
  border-radius: 5px;
}
.m-subs button:hover {
  color: #ff7c00;
  background: #edefef;
}
.box {
  margin-top: 46px;
}
.box a {
  display: block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
}
.box h2 {
  line-height: 30px;
  font-family: Poppins;
  font-size: 14px;
  color: #ffffff;
}
