body{
  margin: 0;
  color: #fff;
}
a{
  color: inherit;
}
.__brand-logo{
  background-image: url('././assets/images/logo.png');
  background-size: 100%;
  width: 7.25em;
  height: 2.5em;
}
.__primary{
  color: #fb6e00;
}
.__container{
  width: 85%;
  margin: auto;
}
.__flex{
  display: flex;
  align-items: center;
}
.__column{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.__flex-start{
  align-items: flex-start;
}
.__sb{
  justify-content: space-between;
}
.__f1{
  flex: 1;
}
.__viewport{
  min-height: calc(100vh - 3.1em);
  margin-top: 3.1em;
}
.__flex-center{
  justify-content: center;
}


@media (max-width: 1290px){
  .__viewport{
    min-height: calc(100vh - 68px);
    margin-top: 68px;
  }
  .__hide-on-mediam{
    display: none;
  }
}
@media (max-width: 600px){
  .__container{
    width: 88%;
  }
  .__hide-on-small{
    display: none;
  }
}

@media (min-width: 1800px){
  .__page{
    font-size: 20px;
  }
}