.elite8-content {
  background-color: #202124;
  max-width: 100%;
}

/*--------------------------------------
        STYLING FOR "hero-div" START
---------------------------------------*/

.hero-section {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #d8d8d8;
}

.hero-image {
  width: 100%;
  background-image: url(../../assets/images/elite8-promo/group-3.png);
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.hero-heading {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  font-family: Poppins;
  font-size: 82px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.98;
  letter-spacing: 10px;
  text-align: center;
  color: #ffffff;
}

.hero-text1 {
  font-family: Poppins;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}

.hero-text2 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  height: 65px;
  font-family: Poppins;
  font-size: 32px;
  color: #ffffff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.03;
  letter-spacing: normal;
}

.hero-bars {
  width: 131px;
  height: 1px;
  opacity: 0.5;
  border: solid 2px #ffffff;
}

.hero-text3 {
  font-family: Poppins;
  font-size: 72px;
  font-weight: 500;
  line-height: 0.9;
  color: #ffffff;
}

.CAD {
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
}

.c-pick-your-numbers-btn {
  margin: 20px;
  margin-bottom: 10px;
  width: 310px;
  height: 65px;
  border-radius: 32.5px;
  box-shadow: 0 3px 27px 0 rgba(251, 110, 0, 0.48);
  background-color: #fb6e00;
  border: none;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.hero-text4 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

/*--------------------------------------
        STYLING FOR hero-div ENDS
---------------------------------------*/

/*-------------------------------------------
        STYLING FOR fun-play-div STARTS
--------------------------------------------*/

.fun-play-wrapper {
  margin-top: 200px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.fun-play-left {
  text-align: left;
  padding-left: 81px;
  display: flex;
  flex-flow: column wrap;
  margin-right: 125px;
}

.fun-play-heading {
  width: 420px;
  height: 144px;
  font-family: Poppins;
  font-size: 62px;
  font-weight: 600;
  line-height: 1.16;
  color: #ffffff;
  border: solid 2px #ffffff;
}

.fun-play-text1 {
  width: 425px;
  margin-top: 20px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  color: #ffffff;
}

.fun-play-text2a {
  width: 464px;
  height: 131px;
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #17181a;

  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #ff6400;
}

.fun-play-text2b {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  color: #ffffff;
  padding-top: 5px;
}

.fun-play-text3 {
  width: 432px;
  height: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
}

.fun-play-right {
  display: inline;
  vertical-align: top;
  overflow: hidden;
}

.fun-play-right-img {
  width: 770px;
  height: 457px;
  object-fit: contain;
}

/*-------------------------------------------
        STYLING FOR fun-play-div ENDS
--------------------------------------------*/

/*-------------------------------------------
        STYLING FOR edit-selections-div STARTS
--------------------------------------------*/

.edit-selections-wrapper {
  padding-top: 200px;
  padding-bottom: 165px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-items: center;
}

.edit-selections-heading {
  width: 663px;
  font-family: Poppins;
  font-size: 62px;
  font-weight: 600;
  line-height: 1.16;
  color: #ffffff;
  text-align: center;
}

.edit-selections-subheading {
  width: 794px;
  margin-top: 21px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}

.edit-selections-box-container {
  width: 1200px;
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  padding: 40px;
  border: solid 2px #ffffff;
}

.edit-selections-box {
  width: 269px;
  height: 181px;
  border-radius: 16px;
  padding: 24px;
  background-color: #17181a;
}

.edit-selections-box1-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.edit-selections-box2-img {
  height: 40px;
  padding: 2px;
  object-fit: contain;
}

.edit-selections-box3-box4-img {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.edit-selections-box-heading {
  padding-top: 8px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}

.edit-selections-box-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  color: #ffffff;
}

.edit-selections-bottom-text {
  width: 610px;
  font-family: Poppins;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #fb6e00;
}

/*-------------------------------------------
        STYLING FOR edit-selections-div ENDS
--------------------------------------------*/

/*-------------------------------------------
        STYLING FOR match8-div GOES HERE
--------------------------------------------*/
.match8-wrapper {
  height: 435px;
  background-color: #161616;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.match8-right {
  width: 391px;
  height: 291px;
  object-fit: contain;
  margin-left: -40px;
}

.match8-heading {
  width: 700px;
  font-family: Poppins;
  font-size: 62px;
  font-weight: 600;
  line-height: 1.16;
  color: #ffffff;
}

.match8-subheading {
  width: 684px;
  height: 30px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  margin: 28px 0 24px;
}

.orange-text {
  color: #ff7b00;
}

.match8-box-container {
  display: flex;
  flex-direction: row;
}

.match8-greybox {
  width: 61px;
  height: 61px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #414347;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  padding: 17px 0;
  text-align: center;
  color: #ffffff;
}

.match8-brownbox {
  width: 109px;
  height: 61px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  padding: 17px 0;
  text-align: center;
  color: #ffffff;
  margin-right: 40px;
}
.match8-brownbox.bx1 {
  background-color: rgba(255, 123, 0, 0.3);
}
.match8-brownbox.bx2 {
  background-color: rgba(255, 123, 0, 0.1);
}

/*-------------------------------------------
        STYLING FOR match8-div ENDS HERE
--------------------------------------------*/

/*-------------------------------------------
        STYLING FOR numbers-div GOES HERE
--------------------------------------------*/

.PickNumbers-wrapper {
  margin-top: 148px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.PickNumbers-left {
  width: 845px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.PickNumbers-header {
  font-family: Poppins;
  font-size: 62px;
  font-weight: 600;
  line-height: 1.16;
  text-align: left;
  color: #ffffff;
}

.PickNumbers-header-sub {
  font-family: Poppins;
  font-size: 20px;
  color: #ffffff;
  margin: 10px 0 32px 0;
}

.all-PickNumbers-box {
  width: 845px;
  height: 449px;
  border-radius: 18.4px;
  background-color: #17181a;
  display: flex;
  flex-flow: row wrap;
}


.elite8-ball {
  width: 62px;
  height: 62px;
  line-height: 62px;
  border-radius: 31px;
  background: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.1px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  box-shadow: 0 2px 18px -1px #979797;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
}

.elite8-ball.selected {
    border: solid 3px #fb6e00;
    color: #fb6e00;
    font-weight: bold;
    line-height: 56px;
}


.PickNumbers-right {
  width: 425px;
  display: flex;
  flex-flow: column wrap;
  margin-left: 22px;
  border: solid 2px red;
  align-items: center;
}

.PickNumbers-right-heading {
  width: 270px;
  font-family: Poppins;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.PickNumbers-right-img {
  width: 202px;
  object-fit: contain;
}
